body {
  background-color: #130A1F;
  font-family: "Sarabun", sans-serif;
}

#mainNav a {
  color: #EDCDED;
  font-size: 16px;
}

#mainNav a:hover {
  color: #EDCDED;
  font-size: 17px;
  text-decoration: none;
}

.img-navbar {
  font-size: 40px;
}

.navbar-main-text {
  color: #EDCDED;
}

h1 {
  font-size: 27px;
}

.nav-bg-custom {
  background-color: #1D1128;
  color: #EDCDED;
}

#shortRates {
  background-color: #130A1F;
}

.cardsTodayRate {
  background-color: #1D1128;
  height: 160px;
  border-radius: 5px;
  color: #CCC9DC;
}

.today {
  text-align: left;
  font-size: 14px;
  color: #776D7E;
}

.curr-name {
  text-align: left;
  padding: 0;
  font-size: 19px;
}

.curr-rate {
  text-align: right;
  font-size: 14px;
}

.my-1 {
  background-color: #1B2A41;
}

h4 {
  margin: 1px;
}

h3 {
  margin: 1px;
}

h6 {
  margin: 1px;
}

.curr-rate-name {
  font-size: 14px;
}

/* --------- card with forms styling ---------- */
#searchPanel {
  background-color: #130A1F;
}

.card {
  background-color: #1D1128;
  color: #CCC9DC;
  border-radius: 5px;
}

.card-main-text {
  color: #EDCDED;
  font-size: 35px;
  align-content: center;
  margin-bottom: 15px;
}

#data:focus {
  border: 2px solid #4F0147;
  box-shadow: none;
}

#rate-type:focus {
  border: 2px solid #4F0147;
  box-shadow: none;
}

#currency:focus {
  border: 2px solid #4F0147;
  box-shadow: none;
}

/* --------- button styling ---------- */
.btn-custom {
  margin-top: 30px;
  background-color: #776D7E;
  color: #10021B;
  font-size: 20px;
  width: 140px;
}

.btn-custom:hover {
  background: #776D7E;
  border: 1px solid #4F0147;
  color: #CCC9DC;
}

.btn-custom:active {
  background: #1D1128;
  box-shadow: none;
  color: #10021B;
}

.btn-custom:focus {
  background: #776D7E;
  color: #10021B;
  box-shadow: none;
  border: 1px solid #4F0147;
}

/* --------- table styling ---------- */
.table-custom {
  background-color: #1D1128;
  border-radius: 5px;
  font-size: 17px;
}

.table {
  color: #CCC9DC;
  margin-bottom: 100px;
  margin-top: 100px;
}

.table.table-condensed tr th {
  border-bottom: 2px solid #1B2A41;
  border-top: none;
}

.table.table-condensed tr td {
  border-bottom: 1px solid #1B2A41;
}

/* --------- icons styling ---------- */
.img-usa {
  height: 50px;
  width: 50px;
}

.img-eu {
  height: 50px;
  width: 50px;
}

.img-uk {
  height: 50px;
  width: 50px;
}

.img-switz {
  height: 50px;
  width: 50px;
}

.fa-arrow-up {
  height: 20px;
  width: 20px;
  color: green;
}

.fa-arrow-down {
  height: 20px;
  width: 20px;
  color: red;
}

.fa-angle-double-down {
  color: #EDCDED;
}

/* --------- alerts styling ---------- */
.modal-content {
  background-color: white;
  color: #450920;
}

.modal-header {
  border-bottom-color: #1B2A41;
}

.modal-title {
  font-size: 25px;
}

.modal-body {
  font-size: 18px;
}

.about-text {
  padding: 7px;
}

.alert {
  font-size: 17px;
}

/* --------- footer styling ---------- */
#footer {
  color: #776D7E;
  font-size: 15px;
}

.copyright {
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
